.footer
    width: 100%
    font-family: $default-font-family
    background-color: $color-background-base-05

    &__content-wrapper
        max-width: 60rem
        padding: 20px 10px
        margin: 0 auto

    &__top-row
        margin-bottom: 14px
    
    &__middle-row
        margin-bottom: 15px

    &__author
        font-size: 19px
        letter-spacing: .5px
        color: $color-text-base-70
        margin-right: 15px
        white-space: nowrap

    &__linkedin
        display: flex
        margin-bottom: 10px
        color: $color-new-base-blue

    &__github
        display: flex
        color: $color-new-peach

    &__powered
        font-size: 15px
        font-weight: 300
        color: $color-text-base-70

    &__link
        font-weight: 500
        color: $color-new-base-green
