.headliners-container
  &__header
    display: flex
    align-items: flex-end
    margin-bottom: 15px

  &__title
    font-size: 25px
    font-weight: 500
    color: $color-new-peach
    margin-right: 7px

    +media-breakpoint-up(md)
      font-size: 30px

  &__results
    font-size: 15px
    font-weight: 300
    padding-bottom: 1px
    color: $color-text-base-70

    +media-breakpoint-up(md)
      font-size: 18px
