.header
    width: 95%
    max-width: 59rem
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    padding: 7px
    border-radius: 7px
    color: $color-text-base-70
    background-color: $color-background-base-05
