.header
    width: 100%
    font-size: 45px
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
    font-weight: 600
    font-style: italic
    white-space: nowrap
    color: $color-grey-15
    margin-top: 30px
    margin-bottom: 30px
    position: relative

.a
    background-color:#cc0000

.b
    background-color: $color-base-blue-50

.c
    background-color: $color-base-blue-70

.test
    position: absolute
    bottom: 0

.g
    width: 330px
    height: 3px
    border-radius: 2px
    height: 5px
    margin-bottom: 5px