.headliners-placeholder
  width: 100%

.placeholder
  width: 100%
  border-radius: 7px
  overflow: hidden
  position: relative
  margin-bottom: 20px

  +media-breakpoint-up(md)
    display: flex
    flex-direction: row-reverse
    border: 1px solid $color-grey-75

  &:after
   position: absolute
   content: ''
   width: 100%
   height: 800px
   z-index: 1
   top: -170px
   transform: rotate(18deg)
   background:  -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%)
   animation: .8s linear infinite flow-right

  &__img
    width: 100%
    height: 200px
    border-radius: 7px 7px 0 0
    background-color: $color-grey-75

    +media-breakpoint-up(md)
      width: 250px
      height: 250px
      border: 0 5px 5px 0
      flex-shrink: 0
      border-radius: 0 5px 5px 0

  &__content-wrapper
    padding: 13px 13px 15px
    border: 1px solid $color-grey-75
    border-top: none
    border-radius: 0 0 7px 7px

    +media-breakpoint-up(md)
      width: 100%
      border: unset

  &__title
    width: 240px
    height: 24px
    border-radius: 3px
    background-color: $color-grey-85
    margin-bottom: 5px

    +media-breakpoint-up(md)
      height: 28px
      width: 95%
      margin-bottom: 5px

  &__source
    width: 100px
    height: 12px
    border-radius: 3px
    background-color: $color-grey-85
    margin-bottom: 13px

    +media-breakpoint-up(md)
      height: 14px

  &__description
    width: 300px
    height: 14px
    border-radius: 3px
    background-color: $color-grey-85
    margin-bottom: 5px

    +media-breakpoint-up(md)
      width: 90%
      height: 17px

    &--shorter
      width: 100px

      +media-breakpoint-up(md)
        margin-bottom: 63px

  &__bottom
    display: flex
    margin-top: 14px

  &__date
    width: 70px
    height: 13px
    border-radius: 3px
    background-color: $color-grey-85
    margin-right: 7px

    +media-breakpoint-up(md)
      width: 130px
      height: 15px

  &__link
    width: 80px
    height: 13px
    border-radius: 3px
    background-color: $color-grey-85

    +media-breakpoint-up(md)
      width: 130px
      height: 15px

@keyframes flow-right
  0%
    left: -100%
  100%
    left: 100%
