// colors
$color-just-white: #fff
$color-base-blue-80: #aec2ea
$color-base-blue-70: #85a3e0
$color-base-blue-60: #5d85d5
$color-base-blue-55: #4976d0
$color-base-blue-50: #3466cb
$color-grey-15: #262626
$color-grey-25: #404040
$color-grey-40: #666666
$color-grey-50: #808080
$color-grey-60: #a6a6a6
$color-grey-75: #bfbfbf
$color-grey-85: #d9d9d9

// new colors
$color-primary: #121212
$color-text-base: rgba(#fff, 0.87)
$color-text-dark: lighten($color-primary, 10%)
$color-new-base-blue: lighten($color-base-blue-50, 15%)
$color-new-peach: lighten(#ff9933, 10%)

// fonts
$default-font-family: "Helvetica Neue"
$font-family-secondary: "Roboto"


// breakpoints
$breakpoints: ('sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px)
